* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.8;
    background-color: #F4F4F9;
    color: #000000;
}

header {
    background-color: #677900; /* Cor de fundo verde */
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
    list-style: none;

    position: relative;
}
nav ul li:not(:first-child)::before {
   
    position: absolute;
    left: -10px;
    color: white;}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1px ;
    padding-top: 10px;
}

    
.coleta-seletiva{
    text-align: left;
}

.content {

    align-items: center;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color: #4c611b;
}

main {
    margin: 70px;
    list-style: none;

    justify-content: center;
}

.oQueE ul, li{
    font-size: 18px;
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
}
h1{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.info1 ul{
    font-size: 2px;
    list-style-type: none;
    text-align: center;

}
.infos ul{
    font-size: 1px;
    padding-top: 4%;
    list-style-type: none;
    text-align: center;
}
h4{
    text-align:center;
    font-size: 40px;
    padding: 40px;
    line-height: 2em;
}

h2{
    padding: 20px;
    padding-top: 4%;
    line-height: 0em;
    text-align:center;

}

h5{
    text-align:center;
    padding-top: 4%;
    font-size: 40px;
    padding: 14px;
    line-height: 1em;
}
.text-left {
    flex: 2;
    list-style: none;
    padding-top: 1%;
    margin: 50px;
    font-size: 130%;
    justify-content: center;
}

.text-right{
    flex: 9;
    list-style: none;
    padding-top: 4%;
    margin: 40px;
    justify-content: center;
}

.image-right  {
   border-radius: px;
    width: 990px;
    border-radius: 40px;
    justify-content: center;
    height: 10%;
    border-radius: 60px;

}


.image-left {
    flex: 7;
    border-radius: 40px;

    margin: 50px;
 justify-content: right;
    width: 10px;
    height:fit-content;
}

.reciclagemItem ul {
    display: flex;
    background-color: #4c611bb7;
    border-radius: 50px;
    justify-content: space-between;
    list-style: none;
    
}

.reciclagemItem li {
    text-align: center;
    flex: 1;
  

    margin: 40px;
}

.reciclagemItem img {
    display: block;
    margin: 0 auto;
   
    max-width: 110px;
}

footer {
    background-color: #290d03;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
h3{
    font-size:25px ;
    padding-top: 9%;
}
.sobre {
text-align: center ;


}
.btn-navigate {
    background-color: #677900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
}

.btn-navigate:hover {
    background-color: #556600;
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .reciclagemItem ul {
        flex-direction: column;
    }

    .reciclagemItem li {
        margin-bottom: 20px;
    }
    
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction:row;
        align-items: flex-end;
        justify-content: space-between;


    }

    nav ul li {
        margin: 10px 0;
    }
}

